@import '../../../App.scss';
// /* mini-reset */
// *,
// *::before,
// *::after {

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  @include navbar_height('height');
  width: 100vw;
  top: 0;
  background-color: $navbar-background-color;
  box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.2);

  h1,
  p {
    color: set-text-color($navbar-background-color);
    margin-left: 1rem;
    height: auto;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media screen and (max-width: 35em) {
  .navbar {
    .branding {
      text-align: center;
      p {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 35em) {
  .navbar {
    .branding {
      max-width: 100%;
      font-size: 80%;
    }
  }
}

@media screen and (min-width: 50em) {
  .navbar {
    .branding {
      font-size: 100%;
    }
  }
}
