@import '../../App.scss';

.backdrop {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
  filter: blur(3px);
}

.details_card {
  // width: 100vw;
  height: 100vh;
  border: 2px red dashed;
  // margin: 0;
  // padding: 0;
}
