@import '../../App.scss';
*,
html {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.container {
  display: flex;
  margin-top: 4rem;
  > :last-child {
    position: relative;
    background-color: dodgerblue !important;
  }
  p,
  h2,
  ul,
  a {
    color: $main-text-color-dark;
  }
  .details_seciton {
    height: auto;
  }
  .cast {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    flex-direction: row;
    left: 0;
    justify-content: space-around;
    .profile {
      background-color: #fff;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.105);

      display: flex;
      flex-direction: column;
      width: 75px;
      margin: 5px;
      border: 1px solid $main-text-color-light;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      a {
        text-align: center;
        font-size: 0.75rem;
        &:hover {
          color: $primary-color;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 1rem;
    li .companies {
      height: 2rem;
    }
  }
  .companies {
    object-fit: contain;
    display: flex;
    flex-wrap: wrap;

    img {
      position: relative;
      margin: 0.5rem;
      max-height: 100%;
      top: -0.5rem;
    }
  }

  img {
    max-width: 100%;
  }
  p {
    margin-top: 1rem;
  }
}

// Mobile

@media screen and (max-width: 35em) {
  .container {
    top: 3rem;
    flex-direction: column;
    background: $main-background-color;
    color: $main-text-color-dark;
    padding: 0 0.5rem;
    section {
      margin-left: auto;
      margin-right: auto;
      &.poster_section {
        display: flex;
        margin-top: 1rem;
        width: 80%;
        img {
          max-width: 100%;
        }
      }
      &.details_section {
        position: relative;
        h2 {
          font-size: 2.25rem;
        }
      }
    }
  }
}
// Tablet
@media screen and (min-width: 35em) {
  .container {
    top: $navbar-height;
    flex-direction: row;
    flex-wrap: wrap;

    section {
      &.poster_section {
        width: 35%;
        margin: 3rem 2rem;
      }
      &.details_section {
        background-color: rgba(255, 0, 0, 0.521);
        margin-top: 3rem;
        width: 55%;
        height: 80%;

        p {
          font-size: 1rem;
        }
        li {
          font-size: 0.9rem;
        }
      }
      &.cast {
        background-color: rgba(0, 128, 0, 0.479);
        margin-top: 1rem;
        max-width: 100%;
        padding: 0 1rem;
        width: 55%;
        & .profile {
        }
      }
    }
  }
}

//Desktop
@media screen and (min-width: 65em) {
  .container {
    section {
      &.poster_section {
        width: 25%;
        margin: 3rem 2rem;
      }
      &.details_section {
        h2 {
          font-size: 2.5rem;
        }
        width: auto;
        max-width: 65%;
        p,
        li {
          font-size: 1rem;
        }
      }
      &.cast {
        max-width: 60%;
        & .profile {
        }
      }
    }
  }
}
