@import '../../App.scss';
body {
  height: calc(100% - #{$navbar-height});
  width: 100%;
}

.backdrop {
  position: absolute;
  top: $navbar-height;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
  filter: blur(3px);
}
