$main-background: #005b75;
$main-accent: #ff3509;
$main-outline: #ffff;
$sub-outline: #faefed;
$main-text: #404040;

// .search {
// }

.search_box {
  position: fixed;
  float: right;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  background: $main-background;
  left: 95%;
  top: 95%;
  transform: translate(-90%, -90%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search_btn {
  color: $main-accent;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $main-outline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_btn :focus {
  outline: 0;
}

.search_btn :focus:active {
  outline: none;
}

.search_text {
  border: none;
  background: none;
  float: right;
  outline: none;
  padding: 0;
  color: $main-outline;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
  text-align: center;
}
.search_box:hover {
  background-color: $main-background;
  .search_text {
    width: 240px;
    padding: 0 6px;
  }
  .search_btn {
    background-color: $main-background;
    transition: 0.4s;
  }
}

@media screen and (min-width: 40em) {
  .search_box {
    position: fixed;
    float: right;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    background: $main-background;
    left: 96%;
    top: 60px;
    transform: translate(-90%, -90%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .search_text {
      color: $main-background;
    }
  }

  .search_box:hover {
    background: $main-outline;
    left: 94%;
    transition: all 0.4s;
    .search_text {
      width: 40vw;
      color: $main-background;
      padding: 0 6px;
      overflow-y: none;
      transition: all 0.4s;
    }
  }
}

@media screen and (min-width: 40em) {
}
