@import '../../../App.scss';

a {
  color: $main-text-color-dark;
}
h2 {
  text-align: center;
}

// cast section

.cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .profile {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.105);
    border: 1px solid $main-text-color-light;
    border-radius: 8px 8px 0 0;
    width: 75px;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.105);
    border: 1px solid $main-text-color-light;
    border-radius: 8px 8px 0 0;
    a {
      text-align: center;
      &:hover {
        color: $primary-color;
      }
    }
    img {
      width: 100%;
    }
  }
}

//
.cast_expand {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-right: calc(50% - 15px);
  margin-left: auto;
  margin-top: 0.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  overflow: hidden;
  cursor: pointer;
  border: $primary-color 2px solid;
  background-color: #fff;
  .chevron_icon {
    align-self: center;
    color: red;
  }
}
// Mobile
@media screen and (max-width: 35em) {
  .cast {
    margin-top: 1rem;
    margin-bottom: 6rem;
    a {
      font-size: 0.7rem;
    }
  }
  .cast_expand {
    margin-top: -5rem;
  }
}

// Tablet
@media screen and (min-width: 35em) {
  .cast {
    width: 100%;
    & .profile {
      width: 55px;
      a {
        font-size: 0.65rem;
      }
    }
  }
}

//Desktop
@media screen and (min-width: 65em) {
  .cast {
    & .profile {
      width: 75px;
      a {
        font-size: 0.75rem;
      }
    }
  }
}

:global(.item-enter) {
  opacity: 0;
}
:global(.item-enter-done) {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
:global(.item-exit) {
  opacity: 1;
}
:global(.item-exit-active) {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
