@import '../../../App.scss';

*,
body {
  margin: 0;
  padding: 0;
  --navbar-height: @include navbar_height('height');
}
li {
  list-style-type: none;
}

p {
  margin-top: 1rem;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  @include navbar_height('top');
  // @include navbar_height(height, #{'100vh - #{navbar_height}'});
}
p,
h2,
ul,
a,
.text {
  color: $main-text-color-dark;
}
h2 {
  text-align: center;
}

section.poster_section {
  img {
    box-shadow: 12px 12px 20px 1px rgba(0, 0, 0, 0.2);
  }
  max-height: 60%;
  margin: 3rem 2rem 0 2rem;
}

// details section
section.details_section {
  flex-direction: column;
  height: fit-content;
  ul {
    margin-top: 1rem;
    li .companies {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .company_logo {
        margin: 0.25rem 0.5rem;
        max-height: 1.5rem;
        top: -0.5rem;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 35em) {
  .container {
    top: 3rem;
    padding: 0 0.5rem;
    section {
      margin-left: auto;
      margin-right: auto;
      &.poster_section {
        margin-top: 1rem;
        width: 80%;
        img {
          max-width: 100%;
        }
      }
      &.details_section {
        position: relative;
        h2 {
          font-size: 2.25rem;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 35em) {
  .container {
    section {
      &.poster_section {
        width: 30%;
      }
      &.details_section {
        margin-top: 3rem;
        width: 55%;

        p {
          font-size: 1rem;
        }
        li {
          font-size: 0.9rem;
        }
      }
    }
  }
}

//Desktop
@media screen and (min-width: 65em) {
  .container {
    section {
      &.poster_section {
        width: 25%;
        max-height: 60%;
      }

      &.details_section {
        h2 {
          font-size: 2.5rem;
        }
        width: auto;
        max-width: 65%;
        p,
        li {
          font-size: 1rem;
        }
      }
    }
  }
}
