@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');
$main-background-color: hsl(0, 0%, 90%);
$main-text-color-dark: #2e2d2d;
$main-text-color-light: #eee4e4;
$navbar-background-color: #d7eff5;
$card-background-color: rgb(255, 255, 255);
$link-color: #000;
$secondary-text: #323435;

$primary-color: rgb(0, 91, 155);
$secondary-color: rgb(255, 132, 0);
$show-home-image: true;
$home-image: url('/images/bcg-unsplash.jpg');
$background-opacity: 0.9;

// Animation Mixin
@mixin easeOut {
  transition: all 0.5s ease-out;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $main-text-color-dark;
  } @else {
    @return $main-text-color-light;
  }
}

$card-text-color: set-text-color($card-background-color);
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
body {
  background: $main-background-color;
  margin: 0;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: $main-text-color-light;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: 'Patua One', serif;
  letter-spacing: 2px;
}

p {
  color: $main-text-color-light;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

.centered {
  text-align: center;
}

.content {
  position: relative;
  top: 4em;
  h3 {
    color: lighten(set-text-color($navbar-background-color), 20%);
    text-align: center;
  }
}

.nav {
  z-index: 1;
}

.search_button {
  display: flex;
  position: absolute;
  top: 100px;
  z-index: 10;
}

.card {
  background-color: $card-background-color;
  border-radius: 20px;
  border: 1px solid lighten($card-text-color, 50%);
  margin-top: 50px;
  // height: 500px;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: $secondary-text;
  }
}

/* +++++++++ flexbox +++++++++ */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
  max-width: 20vw;
  // flex: 0 0 400px;
}

// Mobile
@media screen and (max-width: 35em) {
  .card {
    max-width: calc(100vw - 4em);
  }
}
// Tablet
@media screen and (min-width: 35em) {
  .card {
    max-width: calc(50vw - 5vw);
  }
}

// Small desktop
@media screen and (min-width: 50em) {
  .card {
    max-width: calc(33vw - 4vw);
  }
}
//Desktop
@media screen and (min-width: 65em) {
  .card {
    max-width: calc(24vw - 4vw);
  }
}
