@import '../../../App.scss';

a {
  text-decoration: none;
}

.card_text {
  color: $card-text-color;
  margin-bottom: 0;
}

.card_content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1.4rem);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
  top: -1px;
  div {
    position: relative;
    top: calc(-0.25rem + 1px);
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      border-radius: 15px 15px 0 0;
    }
  }
  & :not(img, i) {
    padding: 1rem;
  }
  .title {
    margin: 0;
    color: $secondary-text;
  }
  h1 {
    margin-bottom: 0.25rem;
  }
  h6 {
    color: lighten($secondary-text, 20%);
    margin: 0;
    margin-top: 0.5rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
  }
  p {
    color: lighten($secondary-text, 10%);

    font-size: 80%;
    flex-grow: 1;
    overflow: hidden;
  }
  .actions {
    width: 100%;
    height: auto;
    .read_more {
      float: right;
      color: $secondary-text;
    }
  }
}
